
<nav class="navbar navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <a href="/logout" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
	<h1 class="all-supervisors-title">List Of Stores</h1>
	<div id="jumb-description">
		<p class="all-supervisors-title">Total Hosts: {{totalHosts}} </p>
		<p class="all-supervisors-title">Total Surrounding Stores: {{totalSurrounding}} </p>
        <p class="all-supervisors-title">Total General Stores: {{totalGenerals}} </p>
	</div>

</div>

<div class="container">
	
	<table class="table table-bordered">
				<thead>
			<tr>
				<th>ID</th>
				<th>Store Name</th>
				<th>Store Type</th>
				<th>Store Region</th>
                <th>Closest Host ID<br>( for surrounding stores )</th>
                <th>Distance to the Closest Host Store ( miles )<br>( for surrounding stores )</th>
			
			</tr>
			</thead>
			<tbody>
				{{#each stores}}
					<tr>
						<td>{{this.id}}</td>
						<td>{{this.name}}</td>
						<td>{{this.status}}</td>
						<td>{{this.region}}</td>
                        <td>{{this.closestHostId}}</td>
                        <td>{{this.distanceToClosestHost}}</td>
						
					</tr>
				{{/each}}
			</tbody>  		
		</table>
	</div>